.cta-form label{
    font-family: "Luxenta", "cursive";
    font-weight: 700;
    font-size: 28px;
}

.cta-form input{
    background-color: #d9d9d95c;
    padding: 10px 20px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 40px;
    outline: none;
}

.cta-form input::placeholder{
    font-size: 26px;
}