.mobile-nav{
    background-color: white;
    top: 76px;
    right: 0;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px){
    .nav-links, .contact-us{
        display: none;
    }

    .ham-menu{
        display: block;
    }

    .nav-logo{
        width: 100px;
        height: 50px;
    }
    
}