@font-face{
    font-family: 'Erstoria';
    src: url('/fonts/Erstoria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Luxenta';
    src: url('/fonts/Luxenta-VF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Good timing';
    src: url('/fonts/good-timing.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Kopdher';
    src: url('/fonts/Kopdher.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}