@font-face{
    font-family: 'Erstoria';
    src: url('/fonts/Erstoria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Luxenta';
    src: url('/fonts/Luxenta-VF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}